<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
<html lang="ko">
    <head>
        <title>TRPG 시나리오 모음</title>
        <style>
            div {
              width: 100%;
              border: 1px solid #003458;
            }
            div.left {
              width: 15%;
              float: left;
              height:150px;
              box-sizing: border-box;
              position:fixed;
            }
            div.right {
              width: 80%;
              float: right;
              box-sizing: border-box;
              background: #ece6cc;
            }
          </style>
    </head>
    <body>
        <h1 style="text-align:center"><a href="/board/">TRPG 시나리오 모음</a></h1>
        <div>
            <div class="left">
                    <center><font size="10px">Login</font><br>
                    ID : <input type="text"><br>
                    PW : <input type="password"><br>
                    <button type="button" class="btn btn-light">Login</button>&nbsp;<button type="button" class="btn btn-light">Join</button></center>
            </div>
            <div class="right">
               <div class="search">
                    <form class="d-flex" action="/search/" method="get" align="center" width="20px">
                        <input class="form-control me-2" type="search" placeholder="검색"  name="kw">
                    </form>
                </div>
                <div class="table_list">
                      <table class="table" border="2" align="center">
                            <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">책이름</th>
                                <th scope="col">시나리오명</th>
                                <th scope="col">작가</th>
                                <th scope="col">룰</th>
                                <th scope="col">책가격</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for post in posts %}
                                <tr>
                                    <td>{{posts.id}}</td>
                                    <td><a href="/board/article/{{post.id}}"> {{posts.bookname}}</a></td>
                                    <td>{{posts.title}}</td>
                                    <td>{{posts.author}}</td>
                                    <td>{{posts.rule}}</td>
                                    <td>{{posts.price}}</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
          </div>


    </body>


</html></title>
</head>
<body>

</body>
</html>